#home {
    background: linear-gradient(to right, #97dd9c, #0de387, #4bc0c8);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

.homeText {
    background: linear-gradient(to right, $green-pastel, $green-neon, $green-aqua);
    -webkit-text-fill-color: transparent;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(odd) {
        background-color: rgb(235, 235, 235);
    }
}

.container {
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 300px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
}