<section class="container" id="scheduleGrid">
    <div class="service-grid">
        <h4>Here are the nurse's available schedules:</h4>
        <!-- Insert calendar -->
    </div>
</section>

<script src="/js/index.js"></script>