<navbar class="navbar">
    <div class="logo">
        <a href="/user">
            <h1 class="navLink">NurseXpress</h1>
        </a>
    </div>

    <div class="navlinks">
        <a class="navLink" id="appointment">Appointments</a>
        <a href="/api/users/logout" class="navLink" id="logout">Logout</a>
        <a href="/about" class="navLink">About</a>
        <a href="/contact" class="navLink">Contact</a>
    </div>
</navbar>

<section class="container" id="scheduleGrid">
    <div class="service-grid">
        <h4>Here are the nurse's available schedules:</h4>
        <!-- Insert calendar -->
    </div>
</section>

<script src="/js/index.js"></script>