<navbar class="navbar">
    <div class="logo">
        <a href="/">
            <h1 class="navLink">NurseXpress</h1>
        </a>
    </div>

    <div class="navlinks">
        <a href="/" class="navLink">Home</a>
        <a class="navLink" id="popup-login">Log In/Register</a>
        <div class="log-container popup-form" id="popup-form">
            <div class="titles">
                <div class="title login">Login</div>
            </div>
            <div class="container-forms">
                <div class="inner-form container-fluid">
                    <form action="/api/users/login" class="login container-forms" id="login" method="POST"
                        autocomplete="on">
                        <input type="text" class="field" name="email" placeholder="Email" required>
                        <input type="password" class="field" name="password" placeholder="Password" required>
                        <div class="forgot-pwd"><a href="#">Forgot password?</a></div>
                        <input type="submit" class="field" value="Login">
                        <div class="register-link">Not a member? <a href="/api/users/register"> Register now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/about" class="navLink">About</a>
        <a href="/contact" class="navLink">Contact</a>
    </div>
</navbar>
<!--Services content-->

<div id="home" class="section">
    <div id="wrapper">
        <h1 id="serviceText">What service are you looking for?</h1>
        <section>
            <div class="services-grid">
                <div class="service service1">
                    <i>
                        <img src="/assets/images/lp01.jpg" class="serviceImg">
                    </i>
                    <h4>Full Rehydration</h4>
                    <a href="/login" class="cta">Schedule<span class="ti-angle-right"></a>
                </div>

                <div class="service service2">
                    <i>
                        <img src="/assets/images/lp02.jpg" class="serviceImg">
                    </i>
                    <h4>Injection Assistance</h4>
                    <a href="/login" class="cta">Schedule<span class="ti-angle-right"></a>
                </div>

                <div class="service service3">
                    <i>
                        <img src="/assets/images/lp03.jpg" class="serviceImg">
                    </i>
                    <h4>Special Attention</h4>
                    <a href="/login" class="cta">Schedule<span class="ti-angle-right"></span></a>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="/js/index.js"></script>