<!--Services content-->
<div id="home" class="section">
        <div id="wrapper">
            <h1 id="serviceText">What service are you looking for?</h1>
            <section>
                <div class="services-grid">
                    <div class="service service1">
                        <i>
                            <img src="/assets/images/lp01.jpg" class="serviceImg">
                        </i>
                        <h4>Full Rehydration</h4>
                        <a href="#" class="cta">Schedule<span class="ti-angle-right"></a>
                    </div>

                    <div class="service service2">
                        <i>
                            <img src="/assets/images/lp02.jpg" class="serviceImg">
                        </i>
                        <h4>Injection Assistance</h4>
                        <a href="#" class="cta">Schedule<span class="ti-angle-right"></a>
                    </div>

                    <div class="service service3">
                        <i>
                            <img src="/assets/images/lp03.jpg" class="serviceImg">
                        </i>
                        <h4>Special Attention</h4>
                        <a href="#" class="cta">Schedule<span class="ti-angle-right"></span></a>
                    </div>
                </div>
            </section>