<navbar class="navbar">
    <div class="logo">
        <a href="/">
            <h1 class="navLink">NurseXpress</h1>
        </a>
    </div>

    <div class="navlinks">
        <a href="/" class="navLink">Home</a>
        <a href="#" class="navLink" id="popup-login">Log In/Register</a>
        <!-- <div class="log-container popup-form" id="popup-form">
            <div class="titles">
                <div class="title login">Login</div>
            </div>
            <div class="container-forms">
                <div class="inner-form container-fluid">
                    <form action="/api/users/login" class="login container-forms" id="login" method="POST"
                        autocomplete="on">
                        <input type="text" class="field" name="email" placeholder="Email" required>
                        <input type="password" class="field" name="password" placeholder="Password" required>
                        <div class="forgot-pwd"><a href="#">Forgot password?</a></div>
                        <input type="submit" class="field" value="Login">
                        <div class="register-link">Not a member? <a href="/api/users/register"> Register now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <a href="/about" class="navLink">About</a>
        <a href="/contact" class="navLink">Contact</a>
    </div>
</navbar>

<!--Login form-->
<section>
    <div class="container log-container">
        <div class="titles">
            <div class="title login">Login</div>
        </div>
        <div class="container-forms">
            <div class="inner-form">
                <form action="/api/users/login" class="login" id="login" method="post" enctype="multipart/form-data" autocomplete="on">
                    <input type="text" class="field" placeholder="Email" required>
                    <input type="password" class="field" placeholder="Password" required>
                    <div class="forgot-pwd"><a href="#" >Forgot password?</a></div>
                    <input type="submit" class="field" value="Login">
                    <div class="register-link">Not a member? <a href="/api/users/register"> Register now</a> </div>
                </form>
            </div>
        </div>
    </div>
    </section>

    <script src="/js/index.js"></script>
