<!--Login form-->
<section>
    <div class="log-container">
        <div class="titles">
            <div class="title login">Login</div>
        </div>
        <div class="container-forms">
            <div class="inner-form">
                <form action="#" class="login" id="login" method="post" enctype="multipart/form-data" autocomplete="on">
                    <input type="text" class="field" placeholder="Email" required>
                    <input type="password" class="field" placeholder="Password" required>
                    <div class="forgot-pwd"><a href="#" >Forgot password?</a></div>
                    <input type="submit" class="field" value="Login">
                    <div class="register-link">Not a member? <a href="/api/users/register"> Register now</a> </div>
                </form>
            </div>
        </div>
    </div>
    </section>
<script src="../js/index.js"></script> 