/* MAIN STYLING */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  width: 100vw;
  position: fixed;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.logo h1 {
  cursor: pointer;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  margin: 0 10px;
  color: black;
  padding: 5px 15px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.navLink.active,
.navLink:hover {
  background-color: #0de387;
  color: white;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}

#home,
body {
  background: linear-gradient(to right, #97dd9c, #0de387, #4bc0c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.homeText {
  background: linear-gradient(to right, #97dd9c, #0de387, #4bc0c8);
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#services {
  text-align: center;
  columns: 3;
  margin: 10px;
  display: inline-flex;
  display: inline-block;
  justify-content: space-evenly;
  width: 30%;
  padding: 30px 10px;
}

#wrapper {
  overflow: auto;
  width: 80%;
}

.container {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 300px;
  min-width: 200px;
}

#serviceText {
  color: aliceblue;
  margin-bottom: 30px;
}

h2,
.service {
  color: aliceblue;
  font-size: 12px;
  margin-bottom: 1rem;
}

/* ABOUT PAGE */

#aboutPage {
  color: aliceblue;
  margin-top: 70px;
  max-width: 700px;
  max-height: 500px;
}

.about {
  justify-content: center;
  color: aliceblue;
}

#aboutText {
  justify-content: center;
  text-align: center;
}

#aboutImg {
  max-width: 650px;
  max-height: fit-content;
  justify-content: center;
}

/* CONTACT FORM */

#contact {
  margin-top: 20px;
}

.formContainer {
  display: flex;
}

.rightContainer {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
}

.rightInnerContainer {
  width: 70%;
  height: 80%;
  text-align: center;
}

.leftInnerContainer {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid;
}

button {
  border-radius: 20px;
  border: 1px solid;
  border-color: #4bc0c8;
  color: #4bc0c8;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

/* MEDIA QUERIES */

@media all and (max-width: 900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }
  .lg-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}
